**/.dockerignore
**/.git
**/.gitignore
**/bin
**/obj
**/out
**/.vs
**/.vscode
**/*.md
**/*.sln
**/Dockerfile
**/docker-compose.yml
**/.dockerignore
**/test_*.sh
**/*Test.csproj
**/*Test/
**/DebugEncryption/
**/DebugPacket/
**/DirectBaiduTest/
**/ServerBaiduTest/
**/SimpleVpnTest/
**/BaiduVpnTest/
**/VpnTest/
**/VpnClient/
**/SimpleTest.cs